---
import PersonalInformation from '../modules/personal-information';
import Education from '../modules/education';
import WorkExperiences from '../modules/work-experiences';
import Other from '../modules/other';
import AboutMe from '../modules/about-me';
import '../styles/index.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Trond Bergquist's CV" />
		<title>Trond Bergquist CV</title>
	</head>
	<body>
		<div class="Curriculum">
      <PersonalInformation />
      <Education />
      <WorkExperiences />
      <Other />
      <AboutMe />
    </div>
	</body>
</html>
